.hero_container{
    width: 100%;
    height: 800px;
    position: relative;
    &.inner{
        height: 20rem
    }
    .hero_avator{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .content_area{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        .container{
            height: 100%;
        }
        .left_area{
            width: 50%;
            p{
                font-size: 2rem;
                text-transform: capitalize;
                color: var(--SecondaryColor);
                font-family: 'Anek Telugu', sans-serif;
            }
            h1{
                color: var(--OffWhite);
                font-size: 5.5rem;
                width: 100%;
                text-transform: capitalize;
                margin-bottom: 5rem;
                font-weight: 800;
                span{
                    text-transform: uppercase;
                    font-size: 8rem;
                    color: var(--TernaryColor);
                    font-weight: 200;
                    position: relative;
                    z-index: 1;
                    
                    &::after{
                        width: 100%;
                        height: 100%;
                        background-color:var(--SecondaryColor);
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;                        
                        filter: blur(5rem);
                        
                    }
                }
                strong{
                    letter-spacing: 2rem;
                    font-size: 14rem;
                    text-transform: uppercase;
                    color: transparent;  
                    -webkit-text-stroke: 1px var(--OffWhite);
                    -webkit-text-fill-color: transparent;
                }
            }
            .custom_button{
                display: inline-flex;
                .material-icons{
                    font-size: 3rem;
                }
            }
        }
        
    }
}


@media only screen and (max-width: 1199px){
    .hero_container {
        height: 80rem;
    }
}

@media only screen and (max-width: 779px){
    .hero_container {
        height: 80rem;
        .content_area{
            .left_area{
                width: 100%;
                text-align: center;
                h1{
                    font-size: 3.1rem;
                    span{
                        font-size: 6rem;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width:450px){
    .hero_container {
        .content_area {
            .left_area {
                p{
                    font-size: 2.5rem;
                }
                h1 {
                    font-size: 2.8rem;
                    strong{
                        font-size: 11rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:360px){
    .hero_container {
        .content_area {
            .left_area {
                h1 {
                    font-size: 2.3rem;
                    strong {
                        font-size: 8rem;
                    }
                    span{
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}