.skelbox{
    width: 100% !important;
    height: 25rem;
    border-radius: 8px !important;
}
.skelbox2{
    width: 100% !important;
    height: 21.4rem;
}


.skeltag{
    width: 30% !important;
    height: 3rem;
    margin-bottom: 1rem;
}
.skelheading{
    width: 70% !important;
    height: 2rem;
    margin-bottom: 1rem;
}
.skelpara{
    width: 100% !important;
    height: 1rem;
    margin-bottom: 0;
}
.skelbutton{
    width: 10rem !important;
    height: 4rem;
    margin-top: 1rem;

}

.game_summery{
    .skelheading{
        height: 3rem;
        margin-bottom: 3rem;
    }
    .skeltag{
        margin-bottom: 0;
    }
    .button_wrapper{
        .skelbutton{
            width: 100% !important;
        }
    }
}


@media only screen and (max-width: 450px){
    .skelbox{
        height: 17rem;
    }
  }

