.skelbox{
    width: 100% !important;
    height: 25rem;
    border-radius: 8px !important;
}

.skeltag{
    width: 30% !important;
    height: 3rem;
    margin-bottom: 1rem;
}
.skelheading{
    width: 70% !important;
    height: 2rem;
    margin-bottom: 1rem;
}
.skelpara{
    width: 100% !important;
    height: 1rem;
    margin-bottom: 0;
}
.skelbutton{
    width: 10rem !important;
    height: 4rem;
    margin-top: 1rem;

}

@media only screen and (max-width: 450px){
    .skelbox{
        height: 17rem;
    }
  }

